@import "tailwindcss";

@theme {
  /* This creates the 'bg-code-bg' class automatically */
  --color-code-bg: #0d1117;
  --color-code-surface: #161b22;
  --color-code-border: #30363d;
  --color-code-text: #f0f6fc;
  --color-code-comment: #8b949e;
  --color-code-string: #a5d6ff;
  --color-code-keyword: #ff7b72;
  --color-code-function: #d2a8ff;
  --color-code-variable: #ffa657;

  --font-mono: "JetBrains Mono", monospace;
  --font-sans: "Inter", sans-serif;
}